<div class="row" style="padding-right: 20px; padding-left: 20px; padding-top: 12px; padding-bottom: 12px">
  <div class="col-9">
    <h3>List of Argo Projects</h3>
  </div>
  <div class="col-3">
    <button class="btn btn-success float-sm-right" (click)="editClicked()">Add New</button>
  </div>
</div>
<ul class="list-group">
  <argo-project-item 
    *ngFor="let project of projects" 
    [project]="project" 
    (onEditClicked)="onProjectEditClicked($event)"
    (onDeleteClicked)="onProjectDeleteClicked($event)">
  </argo-project-item>
</ul>